@model SFA.DAS.EmployerIncentives.Web.Controllers.SimpleViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>API Call to get</h2>

<p>@Model.SayHelloName</p>

<form novalidate method="post">

    <input name="Name" type="text"/>
    <button type="submit">Submit Name</button>

</form>
