
@{
    ViewData["Title"] = "Apply for the 16 to 24 apprentice grant";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Apply for the 16 to 24 apprentice grant</h1>

            <p class="govuk-body">The 16 to 24 apprentice grant is available for employers that take on new apprentices from September 2020. Employers can apply for the grant after they add each apprentice to their apprenticeship service account.</p>

            <h2 class="govuk-heading-m">What you'll get</h2>

            <p class="govuk-body">For apprentices aged 16 to 24, employers will receive £3,000. We’ll pay the grant in 2 equal instalments, 90 and 365 days after you apply.</p>
            
            <p class="govuk-body">Employers can only get this grant for apprentices that are new to their payroll. We’ll pay the grant for all eligible apprentices from each application at the same time.</p>

            <h2 class="govuk-heading-m">Apprentices who were made redundant</h2>
            
            <p class="govuk-body">Employers can take on and apply for the grant for apprentices who were made redundant by their previous employer. This includes apprentices who are going to either:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>start a new apprenticeship</li>
                <li>continue with their previous apprenticeship</li>
            </ul>

            <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>

        </div>
    </div>
  </main>

